section.main-about
	h2.main-about__title.title
		strong About Me
	.main-about__block
		picture.main-about__picture
			source(
				type="image/webp"
				media="(max-width: 580px)"
				srcset="img/webp/about-me/keivi-photo-1-mob@1x.webp 1x, img/webp/about-me/keivi-photo-1-mob@2x.webp 2x")
			source(
				type="image/webp"
				srcset="img/webp/about-me/keivi-photo-1-dsk@1x.webp 1x, img/webp/about-me/keivi-photo-1-dsk@2x.webp 2x")
			source(
				media="(max-width: 580px)"
				srcset="img/about-me/keivi-photo-1-mob@1x.jpg 1x, img/about-me/keivi-photo-1-mob@2x.jpg 2x")
			img.main-about__photo(
				src="img/about-me/keivi-photo-1-dsk@1x.jpg"
				srcset="img/about-me/keivi-photo-1-dsk@2x.jpg 2x"
				alt="My personal photo")
		blockquote.main-about__info
			p
				| Salut! My name is Ksenya and I’m a High End, Beauty, Fashion, Editorial and Commercial <strong>Retoucher</strong>
				based in Moscow, working&nbsp;worldwide.
			p
				| The world of Photography, <strong>Photo&nbsp;Editing</strong> and Filmmaking opened for me when&nbsp;I&nbsp;was&nbsp;a&nbsp;child. It seems to me very exciting to create something new, beautiful&nbsp;and&nbsp;unique.
			p
				| I’m just putting <strong>my&nbsp;heart</strong> in all&nbsp;of&nbsp;this.
			p
				| It’s all about inspiration, self-creation and <strong>magic</strong> inside.
			p
				| If you’re interested in my services, please <strong>feel&nbsp;free</strong> to&nbsp;contact&nbsp;me.
			cite.main-about__author
				b 
					| ~ Ksenya Violet
			a.main-about__link.button(href="about.html") Read more
